<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />

    <application
        android:name=".CurifyApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Curify"
        tools:targetApi="31">
        
        <!-- Splash Screen Activity -->
        <activity
            android:name=".splash.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.Curify.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:theme="@style/Theme.Curify" />

        <!-- Authentication Activities -->
        <activity
            android:name=".ui.auth.LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.Curify" />
        <activity
            android:name="com.saim.AuthenticationModule.LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.Curify" />
        <activity
            android:name=".ui.auth.SignupActivity"
            android:exported="false"
            android:theme="@style/Theme.Curify" />
        <activity
            android:name="com.saim.AuthenticationModule.SignupActivity"
            android:exported="false"
            android:theme="@style/Theme.Curify" />
        <activity
            android:name=".ui.auth.ForgotPasswordActivity"
            android:exported="false"
            android:theme="@style/Theme.Curify" />
        <activity
            android:name="com.saim.AuthenticationModule.Forgetpassword"
            android:exported="false"
            android:theme="@style/Theme.Curify" />
        <activity
            android:name=".ui.auth.OtpVerificationActivity"
            android:exported="false"
            android:theme="@style/Theme.Curify" />

        <!-- Medicine Activities -->
        <activity
            android:name=".ui.medicine.ProductDetailActivity"
            android:exported="false"
            android:theme="@style/Theme.Curify" />
        <activity
            android:name="com.saim.MedicalStoreModule.MedicineDetailActivity"
            android:exported="false"
            android:theme="@style/Theme.Curify" />

        <!-- Checkout Activity -->
        <activity
            android:name=".ui.checkout.CheckoutActivity"
            android:exported="false"
            android:theme="@style/Theme.Curify" />

        <!-- Payment Activities -->
        <activity
            android:name=".ui.payment.PaymentMethodsActivity"
            android:exported="false"
            android:theme="@style/Theme.Curify" />
        <activity
            android:name="com.saim.curify.payment.PaymentMethods"
            android:exported="false"
            android:theme="@style/Theme.Curify" />
        <activity
            android:name=".ui.payment.PaymentDetailsActivity"
            android:exported="false"
            android:theme="@style/Theme.Curify" />
        <activity
            android:name="com.saim.curify.payment.PaymentDetailActivity"
            android:exported="false"
            android:theme="@style/Theme.Curify" />
        <activity
            android:name="com.saim.curify.payment.JazzcashPaymentDetails"
            android:exported="false"
            android:theme="@style/Theme.Curify" />
        <activity
            android:name="com.saim.curify.payment.EasyPaisaPaymentDetails"
            android:exported="false"
            android:theme="@style/Theme.Curify" />
        <activity
            android:name="com.saim.curify.payment.AddedPaymentMethod"
            android:exported="false"
            android:theme="@style/Theme.Curify" />

        <!-- Doctor Activities -->
        <activity
            android:name=".ui.doctors.DoctorProfileActivity"
            android:exported="false"
            android:theme="@style/Theme.Curify" />

        <!-- Prescription Activity -->
        <activity
            android:name=".ui.prescription.UploadPrescriptionActivity"
            android:exported="false"
            android:theme="@style/Theme.Curify" />

        <!-- Admin Activity -->
        <activity
            android:name=".ui.admin.AdminActivity"
            android:exported="false"
            android:theme="@style/Theme.Curify" />
        <activity
            android:name="com.saim.AdminModule.AdminMainScreen"
            android:exported="false"
            android:theme="@style/Theme.Curify" />
        
        <!-- Cart Activity -->
        <activity
            android:name="com.saim.curify.MyCart"
            android:exported="false"
            android:theme="@style/Theme.Curify" />
        
        <!-- Start Screen Activity -->
        <activity
            android:name="com.saim.curify.splash.start_screen"
            android:exported="false"
            android:theme="@style/Theme.Curify" />

    </application>

</manifest>
